[Desktop Entry]
Name=RockPool
Exec=env GRE_HOME="/usr/lib" rockpool
Icon=rockpool
Type=Application
X-Nemo-Application-Type=no-invoker
X-Nemo-Single-Instance=yes
