[Desktop Entry]
Name=RockPool
Exec=invoker -s --type=browser -G /usr/bin/rockpool
Icon=rockpool
Type=Application

[X-Sailjail]
Permissions=Rockpool;UserDirs;AppLaunch;WebView;Internet